.dice {
    width: 75px;
    height: 75px;
    margin: 1em;
    background-color: rgb(43, 148, 197);
    display: inline-block; 
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    color:rgb(4, 15, 14);
    font-size: 40px;
}